@model IncidentVM
@{
    ViewBag.Title = "Incident Manager";
    const string DATE_FORMAT = "MM/dd/yyyy";
}

<h2 class="fs-1">Incident Manager</h2>

<form asp-action="Filter" method="post" class="mb-2">
    <div class="d-flex" id="filters">
        <button type="submit" name="filter" value="">All Incidents</button>
        <button type="submit" class="ms-3" name="filter" value="unassigned">Unassigned Incidents</button>
        <button type="submit" class="ms-3" name="filter" value="open">Open Incidents</button>
    </div>
</form>

<table class="table retro-table">
    <thead>
        <tr class="">
            <th scope="col">Title</th>
            <th scope="col">Customer</th>
            <th scope="col">Game</th>
            <th scope="col">Date Opened</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(IncidentModel incident in Model.Incidents)
        {
            <tr class="">
                <td scope="row">@incident.Title</td>
                <td>@incident.Customer.Firstname @incident.Customer.Lastname</td>
                <td>@incident.Game.Title</td>
                <td>@incident.DateOpened.Value.ToString(DATE_FORMAT)</td>
                <td class="w-25">
                    <div class="d-flex justify-content-around">
                        <a asp-controller="Incident" asp-action="Edit"
                           asp-route-id="@incident.IncidentModelId" class="btn-retro text-decoration-none">Edit</a>
                        <a asp-controller="Incident" asp-action="Delete"
                           asp-route-id="@incident.IncidentModelId" class="btn-retro text-decoration-none">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn-retro text-decoration-none fs-5" asp-controller="Incident" asp-action="Add">Add Incident</a>