@model List<GameModel>

@{
    ViewBag.Title = ViewBag.Action;
}

<h2 class="fs-1">Game Manager</h2>

<table class="table retro-table">
    <thead>
        <tr class="">
            <th scope="col">Code</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Release Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(GameModel game in Model)
        {
            <tr class="">
                <td scope="row">@game.Code</td>
                <td>@game.Title</td>
                <td>@game.Price.Value.ToString("C2")</td>
                <td>@game.ReleaseDate</td>
                <td class="w-25">
                    <div class="d-flex justify-content-around">
                        <a asp-controller="Game" asp-action="Edit" asp-route-id="@game.GameModelId" 
                        class="btn-retro text-decoration-none">Edit</a>
                        <a asp-controller="Game" asp-action="Delete" asp-route-id="@game.GameModelId" 
                        class="btn-retro text-decoration-none">Delete</a>
                    </div>
                </td>
            </tr>
        }
        
    </tbody>
</table>
<a class="btn-retro text-decoration-none fs-5" asp-controller="Game" asp-action="Add">Add Game</a>