@model List<GameModel>

@{
    ViewBag.Title = "Game Manager";
}



<div class="row justify-content-between">
    <div class="col-lg-6">
        <h2 class="fs-1">Game Manager</h2>
    </div>
    <div class="col-lg-6">
        @if(TempData["ToastMessage"] != null)
        {
            <div class="window" style="width: 100%">
                <div class="title-bar">
                    <div class="title-bar-text">@TempData["ToastTitle"]</div>
                    <div class="title-bar-controls">
                        @using (Html.BeginForm("ClearTempData", "Game", FormMethod.Post))
                        {
                            <button aria-label="Close" type="submit"></button>
                        }
                    </div>
                </div>
                <div class="window-body">
                    <p> @TempData["ToastMessage"]</p>
                </div>
            </div>
        }
        
    </div>
    
    
</div>


<table class="table retro-table">
    <thead>
        <tr class="">
            <th scope="col">Code</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Release Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(GameModel game in Model)
        {
            <tr class="">
                <td scope="row">@game.Code</td>
                <td>@game.Title</td>
                <td>@game.Price.Value.ToString("C2")</td>
                <td>@game.ReleaseDate</td>
                <td class="w-25">
                    <div class="d-flex justify-content-around">
                        <a asp-controller="Game" asp-action="Edit" asp-route-id="@game.GameModelId" 
                        class="btn-retro text-decoration-none">Edit</a>
                        <a asp-controller="Game" asp-action="Delete" asp-route-id="@game.GameModelId" 
                        class="btn-retro text-decoration-none">Delete</a>
                    </div>
                </td>
            </tr>
        }
        
    </tbody>
</table>
<a class="btn-retro text-decoration-none fs-5" asp-controller="Game" asp-action="Add">Add Game</a>